node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

#deployments/MyDeploy.json

# .env
.env
ALCHEMY_API_KEY=_jTFrZsqGiY4oS6En8q_72YdsMEOk-78
PRIVATE_KEY=22a6db3558e0b9d28f55b58353423e33b52b67f42bd4c64873d24e4f8b15fff7
ARBISCAN_API_KEY=CA88SUDWES4SCRA8KTBGTWDHV4W4NHKQ23
 
 # node_modules/
.env
artifacts/
cache/
frontend/MyDeploy.json

