node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

#deployments/MyDeploy.json

# .env
.env
ALCHEMY_API_KEY=https://eth-mainnet.g.alchemy.com/v2/BrsEnnwp4V1kUKIcx0nZ6UZBk1WhaMWs
PRIVATE_KEY=9027133ef88428afe11f24ce1d0f1df7faaace8420905f14bd1d89c1511cceb8
ARBISCAN_API_KEY=CA88SUDWES4SCRA8KTBGTWDHV4W4NHKQ23
 
 #node_modules/
.env
artifacts/
cache/
frontend/MyDeploy.json

